.wrapper{
    width: 1360px;
    height: 600px;
    background-color: rgb(224, 7, 7); 
}
header{

    width: 1360px;
    height: 100px;
    background-color: rgba(204, 0, 255, 0.445); 
}
section{
    width: 1360px;
    height:420px;
    background-color: chocolate; 
}
footer{
    width: 1360px;
    height:80px;
    background-color: rgba(19, 149, 167, 0.664); 
  
}
header nav {
     line-height:60px;
      float: right;
      word-spacing: 20px; 
      padding: 20px 20px;  
      padding-right: 30px; 

} 
 header nav a{
    text-decoration: none;
      padding: 4px 15px;  
    border-radius: 15px 15px; 
    font-size: 20px; 
    background-color:black;
    color: wheat;
} 
a:hover{
    background-color: green;
}
.myphoto{
  float: left;
}
.myphoto img{
    height: 100px;
    width: 200px;
    border-radius:100px;
     padding: 1px 1px 1px 1px;
}
h1{
    line-height:178px;
    color: aliceblue;
}
img:hover{
    background-color: rgb(15, 15, 15);
}