*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
 body{
     background:#080808;
    color:#fff;
 }
 #header{
    width:100%;
    height:100vh;
    background-image:url('images/we4.png');
    background-image:url('./images/me2.png');
    background-size: cover;
    background-position:center;
    
 }
  nav{
   margin-top:40px ;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap:wrap;
  float:right;
 }

 nav ul li{
   list-style: none;
    display: inline-block; 
 }
 nav ul li a{
   text-decoration:none;
   margin:10px 20px;
   padding:10px;
   color:#FFF;
   font-size: 18px;
   position: relative;
 } 
 nav ul li a::after{
   content: '';
   width: 0;
   height:3px;
   background: rgb(255, 0, 0);
   position: absolute;
   left: 0;
   bottom: -6px;
   transition: .4s;
 }
 nav ul li a:hover::after{
   width: 100%;
 }
 .header-txt p{
   color:blueviolet;
   font-size: 30px;
 } 
 .header-txt{
   position:relative;
   top:250px;
   left:100px;
 }
 .header-txt h1 span{
   color:aqua;
 }
 /* .........about.................. */
#about{
   padding:80px 0;
   color:#ababab;
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.about-col-1{
   flex-basis: 35%; 
}
.about-col-1 img{
   width:100%;
   border-radius:50px ;
}
.about-col-2{
   flex-basis: 60%;
}
.sub-title{
font-size: 60px;
font-weight: 600;
color:#fff;
}
.tab-titles{
   display:flex;
   margin:20px 0 40px;
   color:darkorchid;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 700;
}
.tab-titles p{
font-size: 30px;
}
.tab-links{
   margin-right:50px ;
   font-size: 18px;
   font-weight: 500;
   cursor:pointer;
   position:relative;
}
.tab-links::after{
content: '';
width: 0;
height: 3px;
background: rgba(238, 255, 0, 0.959);
position: absolute;
left:0;
bottom: -8px;
transition: .3s;
}
.tab-links.active-link::after{
width:50%;
}
.tab-contents ul li{
list-style-type: none;
margin:10px 0;
}
.tab-contents ul li span{
   color:chocolate;
   font-size: 14px;
}
.tab-contents{
   display: none;
}
.tab-contents.active-tab{
   display: block;
}